@font-face {
  font-family: "Jazz Ball";
  src: url('./assets/fonts/Jazz_Ball_Regular.ttf');
}

@font-face {
  font-family: "Earwig Factory";
  src: url('./assets/fonts/earwig factory rg.ttf');
}

@font-face {
  font-family: "I Love Glitter";
  src: url('./assets/fonts/I Love Glitter - TTF.ttf');
}

body {
  text-align: center;
  margin: 0;
  background: #eee;
  color: grey;
  font-family: arial;
}

nav, ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav {
  margin-bottom: 25px;
  padding: 15px;
  align-items: center;
  background: #fff;
}

nav li {
  margin-left: 15px;
  font-size: 21px;
}

nav li a, h1 {
  font-family: Jazz Ball;
  border-bottom: 2px dotted #c3dfeb;
  border-radius: 3px;
  color: #ffafaf;
  font-weight: bold;
  text-decoration: none;
}

ul {
  padding: 0px;
}

table {
  width: 225px;
}

button {
  background: #c3dfeb;
  border: 2px solid #ffafaf;
  /*border-width: 1px;*/
  border-radius: 5px;
}

select {
  background: #ffafaf;
  border: 2px solid #c3dfeb;
  border-radius: 5px;
}

.bigButton {
  font-family: Jazz Ball;
  color: #eee;
  background: #ffafaf;
  border: 5px solid #c3dfeb;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  font-size: 30px;
}

#savedSpurrHolder {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 850px;
}

.spurr {
  background-size: 100%;
  width: 360px;
  height: 226px;
  padding: 20px;
  background-color: yellow;
  margin-top: 25px;
  margin-bottom: 25px;
}

.upper {
  margin-bottom: 15px;
}

.confess {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 850px;
}

.interface {
  width: 231px;
  height: 376px;
  padding: 12px;
}

.interface input {
  background: transparent;
  border: none;
  border-bottom: 2px dotted #c3dfeb;
}

.message {
  width: 540px;
  height: 340px;
  padding: 30px;
  background: #eee;
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 50%;
  background-size: contain;
  background-origin: content-box;
  }

.message, .message input, textarea {
  font-size: 15px;
}

.msgText, .left, .right {
  width: 100%;
  text-align: center;
  border: none;
  background: none;
  outline: 0;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

#msgbody {
  width: 480px;
  /*height: 210px;*/
}

#receivedMessage {
  background-size: 100%;
  background: pink;
  margin:auto;
  width: 576px;
  height: 376px;
  padding: 12px;
}

#about {
  width: 450px;
  margin: auto;
  margin-bottom: 50px;
}

h2 {
  font-family: Jazz Ball;
}

form {
  width: 250px;
  margin: auto;
}

.shareButtons {
  position: relative;
  top: 245px;
  right: 120px;
}

.fbButton {
  width: 6%;
}

.twButton {
  width: 5.4%;
  padding-bottom: 1px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #ffafaf;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 30%;
}
.modal-content:hover{
  background-color: #c3dfeb;
}
.modalimage {
  max-height: 100%;
  max-width: 100%;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
