@font-face {
  font-family: "Jazz Ball";
  src: url('./assets/fonts/Jazz_Ball_Regular.ttf');
}

@font-face {
  font-family: "Earwig Factory";
  src: url('./assets/fonts/earwig factory rg.ttf');
}

@font-face {
  font-family: "I Love Glitter";
  src: url('./assets/fonts/I Love Glitter - TTF.ttf');
}

body {
  text-align: center;
  margin: 0;
  background: #eee;
  color: grey;
  font-family: arial;
}

a, a:hover, a:visited {
  color: #ffafaf;
}

a:active {
  color: #c3dfeb;
}

nav, ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav {
  margin-bottom: 25px;
  padding: 15px;
  align-items: center;
  background: #fff;
}

nav li {
  margin-left: 15px;
  font-size: 21px;
}

nav li a, h1 {
  font-family: Jazz Ball;
  border-bottom: 2px dotted #c3dfeb;
  border-radius: 3px;
  color: #ffafaf;
  font-weight: bold;
  text-decoration: none;
}

ul {
  padding: 0px;
}

table {
  width: 225px;
}

button {
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  background: #ffafaf;
  border: 2px solid #ffafaf;
}

select {
  color: #ffafaf;
  font-size: small;
  font-weight: bold;
  border-radius: 5px;
  background: transparent;
  border: 2px dotted #c3dfeb;
}

.bigButton {
  font-family: Jazz Ball;
  color: #ffafaf;
  background: transparent;
  border: 5px dotted #c3dfeb;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  font-size: 30px;
}

#savedSpurrHolder {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 850px;
}

.spurr {
  width: 360px;
  height: 226px;
  padding: 20px;
  margin-top: 25px;
  position: relative;
  margin-bottom: 25px;
  background-size: 100%;
  background-color: transparent;
  box-shadow: 2px 2px 15px #888888;
}

.shareButtons {
  position: absolute;
  top: 275px;
  right: 15px;
  width: 75px;
}

.shareIcon {
  width: 29%;
}

.upper {
  margin-bottom: 15px;
}

.confess {
  width: 800px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.interface {
  width: 250px;
  padding: 12px;
  background: #fff;
  margin-right: 25px;
  border-radius: 15px;
}

.interface input {
  border: none;
  padding: 4.5px;
  background: #eee;
  border-radius: 5px;
}

.message {
  width: 440px;
  height: 270px;
  padding: 30px;
  background: #eee;
  background-position-y: 50%;
  background-position-x: 50%;
  background-size: 500px 330px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-shadow: 2px 2px 15px #888888;
}

.message input {
  border-bottom: #ddd 1px solid;
  width: 50%;
}

.msgText.left {
  float: left;
}

.msgText.right  {
  float: right;
}

.message, .message input, textarea {
  font-size: 15px;
}

.msgText, .left, .right {
  outline: 0;
  width: 100%;
  border: none;
  background: none;
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

#receivedMessage {
  margin: auto;
  width: 540px;
  height: 340px;
  padding: 30px;
  background-size: 600px 400px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#about {
  width: 450px;
  margin: auto;
  margin-bottom: 50px;
}

h2 {
  font-family: Jazz Ball;
}

form {
  width: 250px;
  margin: auto;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 100px; /* Location of the box */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  width: 70%;
  margin: auto;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  background-color: #eee;
}
.modal-search {
  width: 30%;
  margin: auto;
  padding: 15px;
  background-color: #eee;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.modal-item {
  width: 30%;
  padding: 1.6%;
  background-color: #ffafaf;
}
.modal-item:hover{
  background-color: #c3dfeb;
}
.modalimage {
  max-height: 100%;
  max-width: 100%;
}
