body {
  text-align: center;
}

nav, ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav {
  margin-bottom: 25px;
  padding: 15px;
  background: red;
}

nav li {
  margin-left: 15px;
}

#savedSpurrHolder {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 850px;
}

.spurr {
  width: 380px;
  height: 246px;
  padding: 10px;
  background-color: yellow;
  margin-top: 25px;
  margin-bottom: 25px;
}

.upper {
  margin-bottom: 15px;
}

.lower {

}


.confess {
  margin: auto;
  background: green;
  display: flex;
  justify-content: space-between;
  width: 850px;
}

.interface {
  background: blue;
  width: 201px;
  height: 376px;
  padding: 12px;
}

.message {
  background: red;
  width: 576px;
  height: 376px;
  padding: 12px;
}

.msginput {
  text-align: center;
  width: 500px;
  height: 300px;
  border: none;
  background: none;
  outline: 0;
}

#receivedMessage {
  background: pink;
  margin:auto;
  width: 576px;
  height: 376px;
  padding: 12px;
}
