<!DOCTYPE html>
<div id="about">
  <h1>Spurr: Your Personal Post Secret</h1>

  <img src="./assets/logo.png" height="250px">

  <h2>About Spurr</h2>

  <p>
    Spurr combines Snapchat with PostSecret to produce a cathartic release of stress and a rush of excitement.
    Release tense thoughts while indulging in gossip!
  </p>

  <h2>How does it work?</h2>

  <p>
    Send a secret, get a secret. Get something off your chest by sending it into our ether. Then enjoy the rush from experiencing a secret from someone else, sent only to you! Spurr creates an outlet that combines the therapeutic act of revealing secrets with the enjoyment obtained from hearing secrets.
  </p>

  <p>
    Each person endures the struggle of holding in secrets. Sometimes they become too much to bear, eating at a person’s conscience. It can then be hard to connect with others and make viable progress or change in one’s life.
  </p>

  <p>
    There is a psychological benefit to sharing secrets, even to a stranger. Spurr provides a platform for people to safely share their deeply held secrets to a stranger while remaining anonymous. The recipient of the secret will also feel a connection to another person and feel less alone. Hopefully this platform will impact society by improving the emotional well being of its users.
  </p>

  <div ng-show="!user()">
    <h2>What now?</h2>

    <p>
      All you have to do is sign up to be able to post and receive secrets. As soon as you’re logged in you can send a secret. The recipient will never get any information about you except your city location if you choose. For each secret you send you’ll receive a unique secret back!
    </p>

    <p>
      Now think of the chains holding you back in your heart, and let them free with a Spurr! <br>
    </p>

    <p>
      <a href="#!/signup">Click here to begin your journey to emotional freedom!</a>
    </p>
  </div>
</div>
