<!DOCTYPE html>
<div class="confess">

  <div class="interface">
    <h1>Confess</h1>

    <div class="text">
      <select ng-model="selectedFont" ng-options="font for font in fonts" ng-change="setFont(selectedFont, null, null)">
         <option value="" disabled selected style="display: none;">Font</option>
      </select>

      <select ng-model="selectedSize" ng-options="size for (size, num) in sizes" ng-change="setFont(null, selectedSize, null)">
         <option value="" disabled selected style="display: none;">Size</option>
      </select>
      <br><br>

      <input type="text" ng-model="textColor" placeholder="Text color">
      <button ng-click="setFont(null, null, textColor)">Set color</button>
      <br><br>
    </div>

    <div class="background">
      <input type="text" ng-model="searchImage" placeholder="Search Getty images">
      <button ng-click="searchForImage(searchImage)" name="" value="" >Set Background</button>

      <br><br>

      <input type="text" ng-model="backgroundColor" placeholder="Background color">
      <button ng-click="setBackground(null, backgroundColor)">Set color</button>
      <br><br>
      <button ng-click="setBackground()" name="" value="" >Clear Spurr Background</button>
      <br><br>
    </div>

    <table>
      <tr>
        <th colspan="2">Show</th>
      </tr>
      <tr>
        <td>
          Location <input type="checkbox" checked ng-model="showLocation">
        </td>
        <td>
          Date <input type="checkbox" checked ng-model="showDate">
        </td>
      </tr>
      <tr>
        <td>
          Recipient <input type="checkbox" checked ng-model="showRecipient">
        </td>
        <td>
          Sender <input type="checkbox" checked ng-model="showSender">
        </td>
      </tr>
    </table>
    <br>


    <button ng-click="confess(secret)" class="bigButton">Submit</button>

  </div>

  <!-- modal -->
  <div id="myModal" class="modal">
    <span class="close">&times;</span>
    <div ng-repeat="(id,image) in images" class="modal-content">
      <img ng-click="setBackground(image)" class="modalimage" src="{{image}}">
      <div>{{id}}</div>
    </div>
  </div>
<!-- modal end -->

  <div id="confessional" class="message" ng-style="styleOut">
    <div class="upper" ng-style="styleIn">
      <ul class="msgText">
        <li ng-show="showLocation" class="left">{{ secret.location }}</li>
        <li ng-show="showDate" class="right">{{ secret.date }}</li>
      </ul>
    </div>
    <input type="text"
      class="msgText left"
      ng-model="secret.recipient"
      ng-show="showRecipient"
      ng-style="styleIn"
      maxlength="15">
    <textarea id="msgbody" rows="4" class="msgText" ng-model="secret.message" ng-style="styleIn" maxlength="100"></textarea>
    <input type="text" class="msgText right" ng-model="secret.sender" ng-show="showSender" ng-style="styleIn" maxlength="15">
  </div>
</div>
