<div class="confess">

  <div class="interface">
    <h1>Confess</h1><br>

    <select name="text-fonts" ng-model="selectedFont"
    ng-options="font for font in fonts">
       <option value="" disabled selected style="display: none;">Font</option>
    </select>
    <select name="text-size" ng-model="selectedSize"
    ng-options="size for size in sizes">
       <option value="" disabled selected style="display: none;">Size</option>
    </select><br><br>

    Show name <input type="checkbox" checked ng-model="showName"><br>
    Show date <input type="checkbox" checked ng-model="showDate"><br>
    Show location <input type="checkbox" checked ng-model="showLocation"><br><br>

    <button ng-click="confess(secret)">Submit</button>
    <button ng-click="get(secret)">Submit</button>
  </div>

  <div class="message">
    <div class="upper">
      <ul>
        <li ng-show="showName">{{ secret.name }}</li>
        <li ng-show="showDate">{{ date.toDateString() }}</li>
        <li ng-show="showLocation">{{ secret.location }}</li>
      </ul>
    </div>
    <textarea class="msginput" ng-model="secret.message"></textarea>
  </div>
</div>
