<button class="bigButton" ng-click="show()" ng-show="!ready">OPEN SECRET</button>

<br><br>

<div id="receivedMessage" class="message" ng-style="secret.outer_style" ng-show="ready">
  <div class="upper" ng-style="secret.inner_style">
    <ul class="msgText">
      <li class="left">{{ secret.location }}</li>
      <li class="right">{{ secret.date }}</li>
    </ul>
  </div>
  <div ng-style="secret.inner_style">
    <p>{{ secret.recipient }}</p>
    <p>{{ secret.message }}</p>
    <p>{{ secret.sender }}</p>
  </div>
</div>


<br>
<br>
<button class="bigButton" ng-click="save(secret)" ng-show="ready">SAVE SECRET</button>
