<!DOCTYPE html>

<label>Search: <input type="text" ng-model="searchText"></label>
<div ng-if="!secrets.length">
  <h2>This page is for saved spurrs!</h2>
  <p>Looks like you don't have any saved!</p>
  <p>Why not <a href="#!confess">confess something yourself</a> in the meantime?</p>
</div>
<div id="savedSpurrHolder">
  <div class="spurr"
    ng-style="secret.outer_style"
    ng-repeat="secret in secrets | filter:searchText">
    <div class="upper" ng-style="secret.inner_style">
      <ul class="msgText">
        <li class="left">{{ secret.location }}</li>
        <li class="right">{{ secret.date }}</li>
      </ul>
    </div>
    <div ng-style="secret.inner_style">
      <p class="left">{{ secret.recipient }}</p>
      <p>{{ secret.message }}</p>
      <p class="right">{{ secret.sender }}</p>
    </div>
    <div class="shareButtons">
      <input
        class="shareIcon"
        type="image"
        src="../assets/fb-icon.png"
        ng-click="socialShare(secret, 'facebook')"
      />
      <input
        class="shareIcon"
        type="image"
        src="../assets/twitter-icon.png"
        ng-click="socialShare(secret, 'twitter')"
      />
      <input
        class="shareIcon"
        type="image"
        src="../assets/delete-icon.png"
        ng-click="delete(secret.user_id, secret.spurr_id, $index)"
      />
    </div>
  </div>
</div>
