<!DOCTYPE html>
<div class="userForm">
  <h1>SIGN IN</h1>
    <form name="signinForm" ng-submit="signin()">
      <input type="text" ng-model="user.username">
      <br><br>
      <input type="password" ng-model="user.password">
      <br><br>
      <button class="bigButton">Sign in</button>
    </form>

    <div ng-messages="signUp.$error" class="error" role="alert">
      <div ng-show="username">That username isn't registered</div>
      <div ng-show="email">That email isn't registered</div>
      <div ng-show="email">Your password is incorrect</div>
    </div>
  </div>
