<!DOCTYPE html>
<div class="userForm">
  <h1>SIGN UP</h1>
    <form name="signupForm" ng-submit="signup()">
      <input type="text" ng-model="user.username">
      <br><br>
      <input type="password" ng-model="user.password">
      <br><br>
      <button class="bigButton">Sign up</button>
    </form>

    <div ng-messages="signUp.$error" class="error" role="alert">
      <div ng-show="username">That username is already in use!</div>
      <div ng-show="email">That email is already in use!</div>
      <div ng-message="minlength maxlength">Password must be 3-20 characters</div>
    </div>
  </div>
