<!DOCTYPE html>
<div class="userForm">
  <h1>SIGN UP</h1>
    <form name="signupForm" ng-submit="signup()">
      <input
        type="text"
        name="username"
        ng-model="user.username"
        required
        placeholder="username"
      >
      <br><br>
      <input
        type="password"
        name="password"
        ng-model="user.password"
        required
        ng-minlength="8"
        ng-maxlength="30"
        placeholder="password"
      >
      <br><br>
      <div ng-if="signupForm.username.$error.required">
        Username Required
      </div>
      <div ng-if="signupForm.password.$error.required">
        Password Required
      </div>
      <div ng-if="signupForm.password.$error.minlength">
        Password must be 8-30 characters
      </div>

      <button class="bigButton">Sign up</button>
    </form>
  </div>
